<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fangzhi.dafangzhi">


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--读取缓存数据-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /><!-- 访问网络连接 -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /><!-- 读写SD卡权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /><!-- 在SD卡上创建 删除文件权限 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyTheme"
        tools:replace="Android:icon,android:theme">

        <!-- 设置key 高德-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="2caad462083c929f7947cc318e16be18" />
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService"></service>
        <!--图片设置缓存-->
        <meta-data
            android:name="com.fangzhi.dafangzhi.config.GlideConfiguration"
            android:value="GlideModule" />

        <activity
            android:name=".activity.login.LoginActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseThemeMain"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.register.RegisterActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name=".activity.home.HomeActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>

        <activity
            android:name=".activity.forget.ForgetActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name=".activity.forget.SetPasswordActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name=".activity.weixinlogin.WeixinRegisterActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name=".activity.city.CityActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name=".activity.main_type.HouseTypeActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name=".activity.hotspot.HotspotActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name=".activity.room.RoomActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:process=":remote"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseThemeMain"></activity>
        <activity
            android:name=".activity.room.RoommapActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name=".activity.materiallist.MaterialActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name=".activity.materiallist.ShowImageActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name=".activity.gooddetails.GoodDetails"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name=".activity.indent.IndentActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name=".activity.address.AddressActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <!--        <activity
                    android:name="com.fangzhi.dafangzhi.wxapi.WXEntryActivity"
                    android:exported="true"
                    android:launchMode="singleTop"
                    android:theme="@android:style/Theme.NoDisplay" />-->

        <meta-data
            android:name="design_width"
            android:value="2560" />
        <meta-data
            android:name="design_height"
            android:value="1600" />
    </application>

</manifest>